@import '../../../theme/sass/conf/conf';

form {
  .field-data {
      display: inline-flex;
      align-items: flex-start;
      width:100%;

      .title {
        width: $size-field-title;
        padding: 15px;

        span {
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .data {
        display: inline-block;
        width: $size-field-data;
        padding: 15px;
        transition: all 1s ease-out 1s;

        input, textarea, select {
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          border: none;
          outline: none;
          color: $activelink;
          letter-spacing: 1px;
          font-weight: bold;

        }

        select {
          background-color: white;

          option {
            outline: none;
          }
        }

        button {
          border: 1px solid white;
          background-color: inherit;
          color: white;
        }
      }
    }

    .inputfile {

      display: flex !important;
      justify-content: flex-end;

      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      div {
        display: flex !important;
        justify-content: flex-end !important;
      }

      label {
        background-color: white;
        border-radius: 5px;
        color: $activelink;
        font-weight: bold;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        height: 27px !important;

      }

      span {
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
      }

      span:hover {
        text-decoration: line-through;
        cursor: pointer;
      }

      .list-subcategory > span {
        margin: 0 7px;
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
 }
.res_error{
  color: lightcoral;
}
.document{
  &_items{
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    color: #fff;
    &:hover{
      cursor: pointer;
    }
  }
  &_delete{
    &:hover{
      cursor: pointer;
    }
  }
}

.title-description {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid white;
  margin: 2px 0;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}


.container-qrcode {
  display: flex;
  justify-content: center;

  .qrcode {
    width: 20%;
    min-width: 250px;
    background-color: white;
  }
}

.images-container {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;

    li {
      position: relative;
    }

    li > img {
      max-width: 100%;
      overflow: hidden;
      width: 250px;
      padding: 5px;
      cursor: pointer;
    }

    li > div {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 1s ease-out;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    li:hover {
      overflow: hidden;
      img {
        transition: all 2s ease-out;
        transform: scale(1.2, 1.2);
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: all 2s ease-out;
        z-index: 10;

        i {
          font-weight: bold;
          font-size: 1.5em;
        }

      }
    }
  }
}
