<div class="card" *ngIf="usersNew">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="card-body" novalidate>
    <div class="field-data">
      <div class="title">
        <span>Name</span>
      </div>
      <div class="data form-group">
        <input name="name" type="text" [(ngModel)]="usersNew.name" required>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>Email</span>
      </div>
      <div class="data">
        <input type="email" name="email" [(ngModel)]="usersNew.email" required>
      </div>
    </div>
    <div *ngIf="errors !== ''" class="field-data">
      <div class="title">
        <span>Error</span>
      </div>
      <div class="data">
        <p class="res_error">{{errors}}</p>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>Role</span>
      </div>
      <div class="data">
        <!--<input type="text" name="role" [(ngModel)]="usersNew.role">-->
        <select name="role" [(ngModel)]="usersNew.role" [ngModelOptions]="{standalone: true}">
          <option [value]="''">User</option>
          <option [value]="'admin'" [selected]="usersNew.role === 'admin' ? 'selected' : ''">Admin</option>
        </select>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>isVerified</span>
      </div>
      <div class="data">
        <!--<input type="text" name="role" [(ngModel)]="usersNew.role">-->
        <select name="role" [(ngModel)]="usersNew.isVerified" [ngModelOptions]="{standalone: true}">
          <option [value]="false">False</option>
          <option [value]="true" [selected]="usersNew.isVerified === true ? 'selected' : ''">True</option>
        </select>
      </div>
    </div>
    <div *ngIf="isCreate" class="field-data">
      <div class="title">
        <span>Password</span>
      </div>
      <div class="data">
        <input type="password" name="password" [(ngModel)]="usersNew.password" required>
      </div>
    </div>
    <div class="action">
      <button *ngIf="isCreate" class="btn btn-default" type="submit" [disabled]="!f.form.valid">Create!</button>
      <button *ngIf="!isCreate" class="btn btn-default" type="submit" [disabled]="!f.form.valid">Update</button>
    </div>
  </form>
</div>


