<div class="auth-main">
  <div class="auth-block">
    <div *ngIf="verification === ''">
    <h1 translate>Reset password</h1>
    <a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}</a>
    <a routerLink="/login" class="auth-link">Remember your password? Sign in!</a>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div *ngIf="errors !== ''" class="form-group row">
        <label class="col-sm-2 control-label" translate>Error</label>
        <div class="col-sm-10">
          <p class="res_error">{{errors}}</p>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label" translate>{{'login.email'}}</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="{{'login.email' | translate}}">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth" translate>Reset</button>
        </div>
      </div>
    </form>
    </div>
    <div *ngIf="verification !== ''">
      <h1>{{verification}}</h1>
      <a routerLink="/login" class="auth-link">Back to Log in</a>
    </div>
  </div>
</div>
