<div class="auth-main">
  <div class="auth-block">
    <h1 translate>{{'login.title'}}</h1>
    <a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}</a>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div *ngIf="errors !== ''" class="form-group row">
        <label class="col-sm-2 control-label" translate>Error</label>
        <div class="col-sm-10">
          <p class="res_error">{{errors}}</p>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label" translate>{{'login.email'}}</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="{{'login.email' | translate}}">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label" translate>{{'login.password'}}</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="{{'login.password' | translate}}">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10" [ngStyle]="{'display':'flex','justify-content':'space-between'}">
          <div [ngStyle]="{'display':'flex'}" >
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth" translate>{{'login.sign_in'}}</button>
          <a href="https://localhost:3000/api/facebook" class="faceBookButton">
            <button type="button"></button>
          </a>
          </div>
          <a routerLink="/forgot" class="forgot-pass" translate>{{'login.forgot_password'}}</a>
        </div>
      </div>

    </form>
  </div>
</div>
