<div class="auth-main">
  <div class="auth-block">
    <div *ngIf="verification === ''">
    <h1>Sign up to QRSmarty</h1>
    <a routerLink="/login" class="auth-link">Already have an nQRSmarty account? Sign in!</a>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div *ngIf="errors !== ''" class="form-group row">
        <label class="col-sm-2 control-label" translate>Error</label>
        <div class="col-sm-10">
          <p class="res_error">{{errors}}</p>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
        <label for="inputName3" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
          <input [formControl]="name" type="text" class="form-control" id="inputName3" placeholder="Full Name">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPassword4" class="col-sm-2 control-label">Repeat</label>

        <div class="col-sm-10">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repeat">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10" [ngStyle]="{'display':'flex','justify-content':'space-between'}">
          <div [ngStyle]="{'display':'flex'}">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign up</button>
          <a href="https://localhost:3000/api/facebook" class="faceBookButton">
            <button type="button"></button>
          </a>
          </div>
        </div>

      </div>
    </form>
    </div>
    <div *ngIf="verification !== ''">
      <h1>{{verification}}</h1>
      <a routerLink="/login" class="auth-link">Go to Log in</a>
    </div>
  </div>
</div>
