@import '../../theme/sass/auth';
.res_error{
  color: lightcoral;
}

.faceBookButton{
  width: 30px;
  height: 30px;
  margin-left: 5px;

  >button{
    background-image: url("../../../assets/img/Facebook.png");
    background-size: contain;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    border-radius: 15%;
    &:hover{
      cursor: pointer;
      opacity: 0.5;
    }
  }}
