
extends layout

block title
  | Admin HTML template based on Angular, Bootstrap 4 and Angular CLI

block content
  div.hero
    div.hero-content
      div.wrap
        div.text
          strong ng2-#[span.white-text admin]
        div.minitext Angular admin panel front-end framework
        div.buttons-unit
          a.button(href=installationArticleUrl) Installation guidelines
          a.button(href=firstArticleUrl) Documentation
        div.admin-screenshots
          div.admin-screenshot
            div.browser-mockup
              a.demo-link(href='http://akveo.com/ng2-admin/',target='_blank')
                img(src=contents.images['sky-preview.png'].url)
                span.demo-link-label Demo
  div.index-block
    div.wrap
      h1.centered Why QRSmarty?
      div.why-items
        div.why-item
          img(src=contents.images['why-structure.svg'].url)
          h4 Awesome structure
          p Component-based structure is the best choice for large Angular applications.
        div.why-item
          img(src=contents.images['why-design.svg'].url)
          h4 Neat design
          p We have put a lot of effort and carefully selected each color and font for this template!
        div.why-item
          img(src=contents.images['why-practices.svg'].url)
          h4 Ease of customization
          p Check out #[a(href='/ng2-admin/articles/011-changing-color-scheme') our article], where we describe how you can create a different look in just 2 minutes!
  div.index-block
    div.wrap
      h1.centered Is it free?
      p Yes, ng2-admin is completely free and MIT licensed. That means you can do with it whatever you want.

  div.index-block
    div.wrap
      h1.centered How can I support you guys?
      p Here's what you can do:
      ul
        li Star #[a(href='https://github.com/akveo/ng2-admin',target='_blank') our GitHub repo]
        li Create pull requests, submit bugs, suggest new features
        li Follow #[a(href='https://twitter.com/akveo_inc',target='_blank') us on Twitter]
        li Like #[a(href='https://www.facebook.com/akveo/',target='_blank') our page on Facebook]
  div.index-block
    div.wrap
      h1.centered Can I hire you?
      p Yes! We are available for hire. Visit #[a(href='http://akveo.com',target='_blank') our homepage]
        |&nbsp;or simply leave us a note at #[a(href='mailto:contact@akveo.com') contact@akveo.com].
        |&nbsp;We will be happy to work with you!

