<div class="card" *ngIf="productNew">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="card-body" novalidate>
    <div class="field-data">
      <div class="title">
        <span>Name</span>
      </div>
      <div class="data form-group">
        <input name="name" type="text" [(ngModel)]="productNew.name" required>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>price</span>
      </div>
      <div class="data">
        <input type="number" name="price" [(ngModel)]="productNew.price" [ngModelOptions]="{standalone: true}" required>
      </div>
    </div>
    <div class="field-data ">
      <div class="title">
        <span>Subcategory</span>
      </div>
      <div class="collapse offset-sm-3 col-sm-6" id="collapseExample">
        <div class="data">
          <input type="text" name="subCategory" [(ngModel)]="subcategory">
        </div>
        <!--<button class="btn btn-success">add</button>-->
      </div>

      <div class="data inputfile " name="subcategoryId">
        <div class="list-subcategory" *ngFor="let subcategory of productNew.getSubcategoryId">
          <span (click)="removeSubcategoryProduct(subcategory._id)" class="btn">{{subcategory.name}}</span>
        </div>
        <div class="btn-group flex-dropdown" ngbDropdown>
          <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                  aria-controls="collapseExample" class="btn">New Subcategory</button>

          <button type="button"  class="btn" ngbDropdownToggle></button>
          <ul class="dropdown-menu">
            <li (click)="addSubcategoryProduct(subcategory)" class="dropdown-item"
                *ngFor="let subcategory of subCategories">
              <a>{{subcategory.name}}</a>
            </li>

          </ul>
        </div>
      </div>

    </div>
    <div class="field-data">
      <div class="title">
        <span>Images</span>
      </div>
      <div class="data">
        <div class="data images-container">
          <ul>
            <li *ngFor="let image of productNew.images">
              <div (click)="removeImageProduct(image)">
                <i class="ion-close"></i>
              </div>
              <img src="{{image}}">
            </li>
          </ul>
        </div>
        <div class="inputfile">
          <input id="image-product" type="file" (change)="onChange($event)"/>
          <span *ngFor="let image of loadImage['product']" (click)="removeImage(image.file.lastModified, 'product')">
            {{image.imageName}}
          </span>
          <label for="image-product">
            <i class="ion-android-image"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>Serial Number</span>
      </div>
      <div class="data">
        <input type="text" [(ngModel)]="productNew.serialNumber" [ngModelOptions]="{standalone: true}" required>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>Availability</span>
      </div>
      <div class="data">
        <select [(ngModel)]="productNew.availability" [ngModelOptions]="{standalone: true}">
          <option value="{{true}}" selected>TRUE</option>
          <option value="{{false}}">FALSE</option>
        </select>
      </div>
    </div>
    <div class="field-data">
      <div class="title">
        <span>Delivery Type</span>
      </div>
      <div class="data">
        <select [(ngModel)]="productNew.deliveryType" [ngModelOptions]="{standalone: true}">
          <option value="Plane">Plane</option>
          <option value="Car" selected>Car</option>
          <option value="Train">Train</option>
          <option value="Ship">Ship</option>
        </select>
      </div>
    </div>
    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseApplications" aria-expanded="false"
           aria-controls="collapseApplications">
      <span class="btn">
        APPLICATIONS
      </span>
      </div>
      <div class="collapse" id="collapseApplications">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-app" name="images" type="file" (change)="onChange($event, 'applications')"/>
            <span *ngFor="let image of loadImage.applications"
                  (click)="removeImage(image.file.lastModified, 'applications')">
              {{image.imageName}}
            </span>
            <label for="image-app">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.applications.images">
                    <div (click)="removeImageDescription(image, 'applications')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor #ckeditorEquipment
                        [(ngModel)]="productNew.applications.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseEquipment" aria-expanded="false"
           aria-controls="collapseEquipment">
      <span class="btn">
        EQUIPMENT
      </span>
      </div>
      <div class="collapse" id="collapseEquipment">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-equipment" name="images" type="file" (change)="onChange($event, 'equipment')"/>
            <span *ngFor="let image of loadImage.equipment" (click)="removeImage(image.file.lastModified, 'equipment')">
              {{image.imageName}}
            </span>
            <label for="image-equipment">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.equipment.images">
                    <div (click)="removeImageDescription(image, 'equipment')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor [(ngModel)]="productNew.equipment.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseExploitation" aria-expanded="false"
           aria-controls="collapseExploitation">
      <span class="btn">
        EXPLOITATION
      </span>
      </div>
      <div class="collapse" id="collapseExploitation">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-exploitation" name="images" type="file" (change)="onChange($event, 'exploitation')"/>
            <span *ngFor="let image of loadImage.exploitation"
                  (click)="removeImage(image.file.lastModified, 'exploitation')">
              {{image.imageName}}
            </span>
            <label for="image-exploitation">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.exploitation.images">
                    <div (click)="removeImageDescription(image, 'exploitation')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor [(ngModel)]="productNew.exploitation.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="title-description" data-toggle="collapse" href="#collapsePossibleMalfunctions" aria-expanded="false"
           aria-controls="collapsePossibleMalfunctions">
      <span class="btn">
        POSSIBLE MALFUNCTIONS
      </span>
      </div>
      <div class="collapse" id="collapsePossibleMalfunctions">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-possibleMalfunctions" name="images" type="file"
                   (change)="onChange($event, 'possibleMalfunctions')"/>
            <span *ngFor="let image of loadImage.possibleMalfunctions"
                  (click)="removeImage(image.file.lastModified, 'possibleMalfunctions')">
              {{image.imageName}}
            </span>
            <label for="image-possibleMalfunctions">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.possibleMalfunctions.images">
                    <div (click)="removeImageDescription(image, 'possibleMalfunctions')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor [(ngModel)]="productNew.possibleMalfunctions.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseAdjacentNodes" aria-expanded="false"
           aria-controls="collapseAdjacentNodes">
      <span class="btn">
        ADJACENT NODES
      </span>
      </div>
      <div class="collapse" id="collapseAdjacentNodes">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-adjacentNodes" name="images" type="file" (change)="onChange($event, 'adjacentNodes')"/>
            <span *ngFor="let image of loadImage.adjacentNodes"
                  (click)="removeImage(image.file.lastModified, 'adjacentNodes')">
              {{image.imageName}}
            </span>
            <label for="image-adjacentNodes">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.adjacentNodes.images">
                    <div (click)="removeImageDescription(image, 'adjacentNodes')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor [(ngModel)]="productNew.adjacentNodes.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseSecurityMeasures" aria-expanded="false"
           aria-controls="collapseSecurityMeasures">
      <span class="btn">
        SECURITY MEASURES
      </span>
      </div>
      <div class="collapse" id="collapseSecurityMeasures">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-securityMeasures" name="images" type="file"
                   (change)="onChange($event, 'securityMeasures')"/>
            <span *ngFor="let image of loadImage.securityMeasures"
                  (click)="removeImage(image.file.lastModified, 'securityMeasures')">
              {{image.imageName}}
            </span>
            <label for="image-securityMeasures">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.securityMeasures.images">
                    <div (click)="removeImageDescription(image, 'securityMeasures')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor [(ngModel)]="productNew.securityMeasures.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseCallingCenters" aria-expanded="false"
           aria-controls="collapseCallingCenters">
      <span class="btn">
        CALLING CENTER
      </span>
      </div>
      <div class="collapse" id="collapseCallingCenters">
        <div class="card card-block">
          <div class="data inputfile">
            <input id="image-callingCenter" name="images" type="file" (change)="onChange($event, 'callingCenter')"/>
            <span *ngFor="let image of loadImage.callingCenter"
                  (click)="removeImage(image.file.lastModified, 'callingCenter')">
              {{image.imageName}}
            </span>
            <label for="image-callingCenter">
              <i class="ion-android-image"></i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Description</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <ul>
                  <li *ngFor="let image of productNew.callingCenter.images">
                    <div (click)="removeImageDescription(image, 'callingCenter')">
                      <i class="ion-close"></i>
                    </div>
                    <img src="{{image}}">
                  </li>
                </ul>
              </div>
              <ckeditor [(ngModel)]="productNew.callingCenter.description" [config]="config"
                        [ngModelOptions]="{standalone: true}"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="title-description" data-toggle="collapse" href="#collapseDocuments" aria-expanded="false"
           aria-controls="collapseDocuments">
      <span class="btn">
        Documents
      </span>
      </div>
      <div class="collapse" id="collapseDocuments">
        <div class="card card-block">
          <div class="inputfile">
            <input id="document-product" type="file" name="files" (change)="onChangeDocument($event)">
            <span *ngFor="let document of loadDocument['files']" (click)="removeDocument(document, 'files')">
            {{document.documentName}}
          </span>
            <label for="document-product">
              <i class="ion-android-image">Upload documents</i>
            </label>
          </div>
          <div class="field-data">
            <div class="title">
              <span>Download files</span>
            </div>
            <div class="data">
              <div class="data images-container">
                <div *ngFor="let document of productNew.documents">
                  <a class="document_items" href="{{document.path}}">
                    {{document.documentName}}
                  </a>
                  <span class="document_delete" (click)="deleteDocument(document)">
                                  <i class="ion-android-close"></i>

                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="action">
      <button *ngIf="isCreate" class="btn btn-default createButtonBlackStyle" type="submit" [disabled]="!f.form.valid">Create!</button>
      <button *ngIf="!isCreate" class="btn btn-default createButtonBlackStyle" type="submit" [disabled]="!f.form.valid">Update</button>
    </div>
  </form>
  <div class="container-qrcode">
    <div #qrcode class="qrcode"></div>
  </div>
  <div *ngIf="!isCreate" class="action downloadQR">
    <button class="btn btn-default downloadQRBtn" (click)="getImg(productNew, 'png')">Download as Png</button>
    <button class="btn btn-default downloadQRBtn" (click)="getImg(productNew, 'jpeg')">Download as Jpeg</button>
  </div>
</div>


