<div class="widgets">
  <div class="row">
    <ba-card title="Table" baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table
        [settings]="settings"
        [(source)]="source"
        (deleteConfirm)="onDeleteConfirm($event)"
        (userRowSelect)="productSelect($event)"
      ></ng2-smart-table>
    </ba-card>
  </div>
</div>
