<div>
  <div class="wrapper-create">
    <button type="button" routerLink="create" class="btn btn-default">Add User</button>
  </div>
  <tables
    [updateItem]="editItem"
    [deleteItem]="deleteItem"
    [selectItem]="selectItem"
  ></tables>
</div>
